* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border: 3px solid black;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  font-weight: 600;
  margin: auto 0 auto 20px;
}

nav {
  width: 20%;
  margin-right: 30px;
}

.navigation {
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation li {
  display: inline-block;
  font-size: 24px;
}

li:active {
  color: skyblue;
  cursor: pointer;
}

li:hover {
  cursor: pointer;
  color: skyblue;
}

.sep {
  width: 2.5px;
  height: 65%;
  background-color: black;
}

h1 {
  font-size: 55px;
  text-align: center;
  margin-top: 25px;
}

.books {
  width: 100%;
  margin: 20px auto;
  border: 3px solid black;
}

.book {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.book p {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.remove {
  width: 100px;
  background-color: white;
  height: 70%;
  margin-right: 30px;
  border: 3px solid black;
  box-shadow: 2px 2px black;
}

.remove:hover {
  cursor: pointer;
}

.sprator {
  width: 50%;
  height: 2.5px;
  background-color: black;
  margin: 30px auto;
}

h2 {
  text-align: center;
  font-size: 45px;
}

.form {
  width: 35%;
  height: 180px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.title,
.author {
  width: 100%;
  height: 35px;
  border: 3px solid black;
  color: black;
  font-size: 18px;
  padding-left: 10px;
  display: block;
}

.add {
  width: 70px;
  height: 40px;
  font-size: 17px;
  font-weight: 600;
  border: 3px solid black;
  cursor: pointer;
  box-shadow: 2px 2px black;
}

.gray {
  background-color: #ddd;
}

.display-none {
  display: none;
}

#displayDateTime {
  position: relative;
  left: 85%;
  font-size: 18px;
  top: 10px;
}

.Contact-section h4 {
  margin: 30px auto;
  width: 60%;
  font-size: 25px;
  line-height: 35px;
}

.Contact-Information {
  margin: auto;
  width: 60%;
  line-height: 30px;
}

.Contact-Information li {
  margin-left: 20px;
}

footer {
  width: 100%;
  height: 50px;
  border: 3px solid black;
  position: absolute;
  bottom: 2.5%;
}

.Copyright {
  font-size: 35px;
  font-weight: 500;
  margin-left: 30px;
}
